body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  background: linear-gradient(to left, #667eea, #764ba2);
}

.Div-Contenedor-General,
h1 {
  text-align: center;
}

.div-Container-Reloj {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3em;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2)
}

.div-Numeros {
  color: darkblue;
  letter-spacing: 10px; /* Espaciado entre los dígitos */
}
